<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Info</title>
    <script src="/info.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<header>
    
</header>

<body>
    

        <div class="main">
            <div class="game-container">
                <div class="links">
                    <a id="link" href="/list">My List</a>
                    <a id="link" href="/">Search</a>
                    <a id="link" href="/logout">Logout</a>
                </div>
            </div>
            <div class="game-details">
                <div class="info-cover">
                    <img class ="game-cover" alt="">
                    <div class="sample-screenshots">
                        
                    </div>
                </div>
                <div class="info-section">
                    <div class="info-title">
                        <p class="title"></p>
                    </div>
                    
                    <p class="heading">Description</p>
                    <div class="info-description"> 
                        <!--Filled using JS  -->
                        <p class="description"></p>
                    </div>
                    <p class="heading">Genre</p>
                    <div class="info-genre">
                        <!-- Filled using JS -->
                    </div>
                    <div class="info-score">
                        <p class="score">Moby Score: </p>
                        <p class="votes">Votes: </p>
                    </div>
                </div>
                <!-- Button to add game to users backglog/list -->
                <div class="button-section">

                </div>
            </div>
        </div>


</body>
</html>
