<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <script src="/home.js" type="module"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <ul class="sidebar">
            <li onclick=hideSideBar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="/">GameVault</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/list">Backlog</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <ul>
            <li class="hideOnMobile"><a href="/">GameVault</a></li>
            <div class="search-container">
                <input id="search-game" type="search" placeholder="Search a game">
                <img id="search-button" src="images/search.svg" alt="search-icon" width="24" height="24">
            </div>
            <li class="hideOnMobile"><a href="/search">Search</a></li>
            <li class="hideOnMobile"><a href="/list">Backlog</a></li>
            <li class="hideOnMobile"><a href="/logout">Logout</a></li>
            <li class="menu-button" onclick=showSideBar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="hero">
            <h1 id="welcome">Welcome</h1>
            <p>Track, organize, and manage your game collection effortlessly.</p>
            <a href="/search">Get Started</a>
        </div>

        <div class="top-popular">
            <div id="loader" class="hidden"></div> 
            <p id="popular-label">Random Picks</p>
        </div>
        <!-- Populate random picks -->

    </div>

    <footer>
        <ul>
            <li><a href="/">GameVault</a></li>
            <li><a href="/list">Backlog</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </footer>

    <script>
        // Function to toggle sidebar on smaller screens
        function showSideBar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'flex';
        }

        // Function to close sidebar 
        function hideSideBar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'none';
        }
    </script>

</body>
</html>
