<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backlog</title>
    <script src="/backlog.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<header>
    
</header>

<body>
    

        <div class="main">
            <div class="search-container">
                <div class="links">
                    <a id="link" href="/">Search</a>
                    <a id="link" href="/logout">Logout</a>
                </div>
                <form id="search-form" action="/search" method="get"></form>
                    <div class="input-container">
                        <input id="search-game" type="search" placeholder="Search a game...">
                        <img id="search-button" src="images/search.svg" alt="search-icon" width="24" height="24">
                    </div>
                </form>
            </div>
            <div id="games-list" class="games-list">
                <!-- Games will be shown here -->

            </div>
        </div>


</body>
</html>
