<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
    <script src="/register.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li><a class="logo-gamevault" href="#">GameVault</a></li>
        </ul>
    </nav>
    <div class="main-container-form">
        <div class="form-container">
            <div class="form-header">
                <h1>Sign Up</h1>
            </div>
            <form class="account-form" action="">

                <div class="label-container">
                    <!-- Username section -->
                    <label for="username">Username</label>
                </div>
                <div class="input-container">
                    <!-- <img src="images/person.svg" alt="icon" width="24" height="24"> -->
                    <input class="input-field" id="username" type="text" placeholder="Enter username" name="username" required>
                </div>

                <div class="label-container">
                    <!-- Password section -->
                    <label for="password">Password</label>
                </div>
                <div class="input-container">
                    <!-- <img src="images/lock.svg" alt="icon" width="24" height="24"> -->
                    <input class="input-field" id="password" type="password" placeholder="Enter password" name="password" required>
                </div>   

                <div class="label-container">
                    <!-- Password section -->
                    <label for="confirm-password"">Confirm Password</label>
                </div>
                <div class="input-container">
                    <!-- <img src="images/lock.svg" alt="icon" width="24" height="24"> -->
                    <input class="input-field" id="confirm-password" type="password" placeholder="Confirm password" name="confirm-password" required>
                </div> 

                <div class="actions-container">
                    <div class="form-button-container">
                        <!-- Login button -->
                        <button class="form-button" type="submit" id="register-btn">Sign Up</button>
                    </div>
                </div>
                <div class="bottom-note">
                    <!-- Redirect to register page -->
                    <p>Already have an account? <a href="/login">Sign in</a></p>
                </div>
                <div class="error-container">
                    <p id="error"></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
