:root {
    /* Color variables */
    --primary-yellow: #FABC3F; 
    --primary-blue: #7289DA;
    --secondary-blue: #5865F2;
    --secondary-blue-darker: #454FDB;

    --bad-red: #F25858;
    --bad-red-darker: #D14747;

    --text-dark: #333333;

    --secondary-yellow: #FFD369;
    --dark-bg: #2C2F33;
    --light-gray-accent: #99AAB5; 
    --dark-gray-accent: #4F545C;
    --lighter-gray: #DCDDDE; 
    --alternative-dark-bg: #242424; 
  
  
    /* White color variables */
    --color-white: #FFFFFF;
    --color-off-white: #F9F9F9;
    --color-light-grey: #D3D3D3;
  
    /* Font size variables */
    --font-size-base: 16px; 
    --font-size-xsmall: 0.75rem;
    --font-size-small: 0.875rem; 
    --font-size-medium: 1rem; 
    --font-size-large: 1.25rem; 
    --font-size-xlarge: 1.5rem; 
    --font-size-xxlarge: 2rem; 
  
    /* Spacing variables */
    --spacing-xsmall: 0.1rem; 
    --spacing-small: 0.25rem; 
    --spacing-medium: 0.5rem; 
  
    /* Font weights */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
  
    /* Padding variables */
    --padding-small: 0.5rem; 
    --padding-medium: 1rem; 
    --padding-large: 1.5rem; 
    --padding-xlarge: 2rem;        
    --padding-xxlarge: 2.5rem;
    --padding-xxxlarge: 3rem; 
    --padding-xxxxlarge: 4rem; 
    /* Margin variables */
    --margin-small: 0.5rem;
    --margin-medium: 1rem; 
    --margin-large: 1.5rem; 
    --margin-xlarge: 2rem; 
    --margin-xxlarge: 2.5rem; 
  }
  
  /* UTILITY CLASSES BEGIN*/
  
  /* Color utility classes */
  .bg-secondary { background-color: var(--color-secondary); }
  .bg-primary { background-color: var(--color-primary); }
  .bg-body { background-color: var(--body-bg); }
  .bg-accent-primary { background-color: var(--accent-primary); }
  .bg-accent-secondary { background-color: var(--accent-secondary); }
  .bg-white { background-color: var(--color-white); }
  .bg-off-white { background-color: var(--color-off-white); }
  .bg-light-grey { background-color: var(--color-light-grey); }
  
  .text-secondary { color: var(--color-secondary); }
  .text-primary { color: var(--color-primary); }
  .text-body { color: var(--body-bg); }
  .text-accent-primary { color: var(--accent-primary); }
  .text-accent-secondary { color: var(--accent-secondary); }
  .text-white { color: var(--color-white); }
  .text-off-white { color: var(--color-off-white); }
  .text-light-grey { color: var(--color-light-grey); }
  
  /* Font size utility classes */
  .font-size-small { font-size: var(--font-size-small); }
  .font-size-medium { font-size: var(--font-size-medium); }
  .font-size-large { font-size: var(--font-size-large); }
  .font-size-xlarge { font-size: var(--font-size-xlarge); }
  .font-size-xxlarge { font-size: var(--font-size-xxlarge); }
  
  /* Spacing utility classes */
  .m-small { margin: var(--spacing-small); }
  .m-medium { margin: var(--spacing-medium); }
  .m-large { margin: var(--spacing-large); }
  .m-xlarge { margin: var(--spacing-xlarge); }
  
  /* Padding utility classes */
  .p-small { padding: var(--padding-small); }
  .p-medium { padding: var(--padding-medium); }
  .p-large { padding: var(--padding-large); }
  .p-xlarge { padding: var(--padding-xlarge); }
  
  /* Font weight utility classes */
  .font-weight-thin { font-weight: var(--font-weight-thin); }
  .font-weight-extra-light { font-weight: var(--font-weight-extra-light); }
  .font-weight-light { font-weight: var(--font-weight-light); }
  .font-weight-normal { font-weight: var(--font-weight-normal); }
  .font-weight-medium { font-weight: var(--font-weight-medium); }
  .font-weight-semi-bold { font-weight: var(--font-weight-semi-bold); }
  .font-weight-bold { font-weight: var(--font-weight-bold); }
  .font-weight-extra-bold { font-weight: var(--font-weight-extra-bold); }
  .font-weight-black { font-weight: var(--font-weight-black); }
  
  /* UTILITY CLASSES END */  

  .hidden {
    display: none;
  }

/* Remove default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #333333;
}

.good {
    background-color: var(--secondary-blue);
}

.average {
    background-color: var(--primary-yellow);
}

.bad {
    background-color: var(--bad-red);
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--color-off-white);
}

strong {
    color: black;
}

/* ------------------------------------ NAV SECTION ------------------------------------ */

nav {
    display: flex;
    background-color: var(--alternative-dark-bg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 10vh;
    
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    --max-width: 1110px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    /* left and right */
    margin-inline: auto; 
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-off-white);
    transition: color 0.3s ease;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s ease;
}

.logo-gamevault {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-semi-bold);
}

nav a:hover {
    transform: scale(1.05);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--alternative-dark-bg);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

input[type=search] {
  padding: 0 var(--padding-medium);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  width: 10em;
  border: none;
  color: var(--color-off-white);
  height: 3.5em;
}

.search-container {
    border: 1px solid var(--secondary-blue-darker);
    background-color: var(--dark-bg);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
}

#search-button:hover {
    cursor: pointer;
}

@media(max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 768px) {
    .sidebar {
        width: 60%;
    }
}

@media(min-width: 768px) {

    nav ul {
        display: flex;
        gap: 2.5em;
    }

    nav a {
        padding: 0 0;
    }
    
}

/* Main container */
.main-container {
    min-height: 90vh;
    background-color: var(--color-off-white);

    padding: 4em 0;
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    /* left and right */
    margin-inline: auto; 

}

/* ---------------------------- HOME PAGE ---------------------------- */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;
    padding: 2em;
}

.hero h1 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-medium);
}
.hero p {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
}

.top-random {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid var(--dark-gray-accent);
    gap: 0.5em;
    height: 2.5em;
}

#random-label {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
}

.random-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1.2em;
    height: 22em;
    padding: 2em;
    overflow-x: auto;
}

@media(min-width: 1025px) {
    .random-container {
        gap: 1.8em;
        justify-content: center;
    }
}


.random-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    width: 10em;
    overflow: hidden; 
    gap: 0.5em;
    flex-shrink: 0;
}

.random-frame:hover {
    cursor: pointer;
}

.random-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    overflow: hidden;
}

.random-image {
    max-width: 100%;
    object-fit: cover; 
    object-position: center; 
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.score-title-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    height: 10%;
    width: 90%;

}

.home-title-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 85%;
}

.home-game-title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100%;
}

.home-game-title:hover {
    cursor: pointer;
}

.home-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 90%;
    border-radius: 4px;
}

.home-score {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
}

/* Results section */

.results-container {
    width: 100%;
    height: 2em;

}

.top-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid var(--dark-gray-accent);
    gap: 0.5em;
    height: 2.5em;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 100%;
}

#loader {
    border: 4px solid var(--color-off-white); 
    border-top: 4px solid rgb(0, 102, 204); 
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#search-results {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
}

.list-status-container {
    width: 6em;
}

.list-status {
    width: 100%;
    font-size: var(--font-size-xsmall);
    padding: 0.2em 0;
    background-color: var(--color-off-white);
    border: 1px solid var(--dark-gray-accent);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/* ----------------------- GAME LISTING SECTION ----------------------- */
.games-list {
    height: auto;
}

.game {
    margin: 0.5em 0;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10em;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: var(--color-off-white);
    overflow: hidden;
}

.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
}

.game-cover {
    width: 80%; 
    max-width: 80%; 
    height: 80%;
    max-height: 80%;
    object-fit: cover; 
    object-position: center; 
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-cover:hover,
.game-cover:focus {
    cursor: pointer;
}

.game-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0 0.65em;
    height: 80%;
    width: 50%;
}

.game-page {
    display: flex;
    width: 100%;
}

.title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    letter-spacing: 0.0.5em;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%
}

.title:hover,
.title:focus {
    cursor: pointer;
}

.date-container {
    display: flex;
    width: 100%;
}

.date {
    font-size: var(--font-size-xsmall);
    white-space: nowrap;
    overflow: hidden; 
    width: 100%;
    text-overflow: ellipsis; 
}

.genre-container {
    display: flex;
    width: 100%;
}

.genre {
    font-size: var(--font-size-xsmall);
    text-overflow: ellipsis; 
    width: 100%;
}

.button-container {
    display: flex;
    width: 50%;
    margin-top: auto;
}

.add-button, .remove-button {
    padding: 10px 5px;
    font-size: var(--font-size-xsmall);
    font-weight: 700;
    color: var(--color-off-white);
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 6em;
}

.add-button {
    background-color: var(--secondary-blue);
    transition: background-color 0.3s ease;
}

.add-button:hover {
    cursor: pointer;
    background-color: var(--secondary-blue-darker);
}

.remove-button {
    background-color: var(--bad-red);
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    cursor: pointer;
    background-color: var(--bad-red-darker);
}

.score-label {
    font-size: var(--font-size-small);
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;

}

.score {
    display: flex;
    font-size: 2.25em;
    font-weight: var(--font-weight-semi-bold);
    border-radius: 4px;
    color: var(--color-off-white);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;

    text-align: center;
}

.pagination a {
    text-decoration: none;
    padding: 15px 12px;
    display: inline-block;
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-light);
}

.pagination a.active {
    font-weight: var(--font-weight-extra-bold);
}

.pagination a:hover {
    cursor: pointer;
}

.pagination a:hover:not(.active) {
    color: rgb(0, 102, 204);
}


/* -------------------------------- FOOTER SECTION -------------------------------- */
footer {
    height: 20em;
    background-color: var(--alternative-dark-bg);
    font-family: 'Roboto', sans-serif;
    color: var(--color-off-white);
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
    background-color: var(--alternative-dark-bg);
    height: 100%;
    padding: 2em 0;
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    /* left and right */
    margin-inline: auto;
}

.footer-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5em;
    height: 100%;
    width: 100%;
    padding: 0 2em 0 0;
}

.footer-lists {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5em;
    height: 100%;
    width: 100%;
    padding: 0 2em 0 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.2em;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer p, footer a {
    font-size: var(--font-size-small);
}

footer h2 {
    font-size: var(--font-size-medium);
}

footer a {
    text-decoration: none;
    list-style-type: none;
    color: var(--color-off-white);
    transition: all 0.3s ease;
}

footer a:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    footer {
        height: 12em;
    }
    
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .footer-about {
        width: 50%;
    }

    .footer-lists {
        width: 50%;
    }
}

/* ------------------- GAME PAGE SECTION ---------------*/

/* Tablet styles (768px to 1024px) */
@media (min-width: 768px) {
    body {
        .games-list {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            gap: 4%;
        }
    
        .game {
            width: 48%; 
        }
        
    }
}

/* Desktop styles (1025px and above) */
@media (min-width: 1025px) {
    .title {
        letter-spacing: 0.0.5em;
        width: 100%;
    }

    
    .score {
        font-weight: 700;
    }
}
.game-page-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: 2em 0;

    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding) * 2);

    gap: 2em;
    /* left and right */
    margin-inline: auto; 
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    width: 100%;
    height: 20em;
    overflow: hidden;
}

.box-cover {
    max-width: 80%;
    height: auto;
    object-fit: cover; 
    object-position: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-info-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    gap: 1em;
    width: 100%;
}

.game-title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xlarge);
    letter-spacing: 0.0.5em;
    white-space: normal;
    width: 100%;
    padding: 0.5em 0;
}

.platform-genre-container {
    display: flex;
    width: 100%;
    height: auto;
    gap: 2em;
}

.genre-label {
    padding: 0.5em 0em;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}

.page-genre-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5em;
}

.page-genre {
    font-size: var(--font-size-small);
}

.platform-label {
    padding: 0.5em 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}

.platform-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5em;
}

.platform {
    font-size: var(--font-size-small);
}

.status-container {
    align-self: center;
    width: 8em;
}

.status {
    appearance: none;
    width: 100%;
    font-size: var(--font-size-small);
    padding: 0.6em 0;
    background-color: var(--color-off-white);
    border: 1px solid var(--dark-gray-accent);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.description-label-container {
    padding: 0 2em;
    width: 100%;
}

.description-label {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}

.description-container {
    display: flex;
    flex-direction: column;
    padding: 0 2em 2em 2em;
    max-height: 10em;
    overflow-y: auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.description {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-small);
}

.game-page-button-container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.screenshot-container {
    display: flex;
    gap: 1em;
    padding: 2em;
    max-width: 100%;
    overflow-x: auto;
    height: 15em;
}

/* Temp */
.screenshot {
    width: auto; 
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    border-radius: 4px;
}

@media (min-width: 768px) {
    .top-container {
        flex-direction: row;
        justify-content: start;
        gap: 1em;
    }

    .box-container {
        box-shadow: none;
    }

    .top-info-container {
        align-items: start;
        justify-content: start;
        gap: 1em;
        box-shadow: none;
    }

    .game-title-container {
        text-align: start;
    }


    .description-container {
        max-height: 15em;
    }
}

/* ----------------------- FORM SECTION ----------------------- */
/* Main container */
.main-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: var(--color-off-white);
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.account-form {
    padding: 4em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 16px 16px;
    flex-grow: 1;
    width: 280px;
    gap: 0.5em;
}


.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 5em;
    color: var(--color-off-white);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px 16px 0 0;
    background-color: rgb(0, 123, 255);
}

.form-header p {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-medium);
}

.label-container {
    width: 60%;
}

.label-container {
    font-weight: var(--font-weight-medium);
}

.input-container {
    width: 70%;
    margin-bottom: 0.5em;
}

.input-field {
    width: 100%;
    height: 2.5em;
    padding: 0 1.05em;
    border: none;
    border-radius: 16px;
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 4em;
}

.form-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-button {
    width: 100%;
    height: 65%;
    border: 1px solid var(--light-gray-accent);
    border-radius: 24px;
    background-color: rgb(0, 123, 255);
    color: var(--color-off-white);
    font-weight: var(--font-weight-semi-bold);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.form-button:hover {
    cursor: pointer;
    background-color: rgb(0, 102, 204)

}

.bottom-note p {
    font-size: var(--font-size-small);
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 4em;
    padding: 1em;
}

.error-container p {
    color: red;
    font-size: var(--font-size-small);
}